body{
    background-image: url(../Img/fondoazul.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
    font-family: 'Lilita One', cursive;
    }

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 20px;
    box-shadow: 20px 20px 20px -1px #0000006b;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 3px solid silver;
    font-family: 'Lilita One', cursive;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .campos{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.campos input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.campos label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.campos span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #41156b ;
}

.campos input:focus ~ label,
.campos input:focus ~ label{
    top: -5px;
    color: #41156b;
}

.campos input:focus ~ span::before,
.campos input:focus ~ span::before{
    width: 100%;
}

.recordar{
    margin: -5px 0 20px 5px;
    color:  #41156b;
    cursor: pointer;
}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #41156b;
    border-radius: 25px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    outline: none;
    font-family: 'Varela Round', sans-serif;
}

input[type="submit"]:hover{
    border-color: #41156b;
    transition: .5s;
}

