* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(../Img/fondoazul.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
    font-family: 'Lilita One', cursive;
}

.navbar {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navbar h1 {
    color: white;
    font-size: 100px;
    -webkit-text-stroke: 3px black;
    margin-bottom: 0;
}

.subtitle {
    font-size: 50px;
    color: #ffad00;
    -webkit-text-stroke: 2px black;
    margin-top: -25px;
}

.swiper {
    margin-top: 20px;
}

.swiper-slide {
    margin-bottom: 50px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    height: 478px;
    width: 270px;
    position: relative;
    align-items: center;
}

.swiper-slide img {
    border: 3px solid rgb(0, 0, 0);
    width: 322px;
    border-radius: 15px;
    height: 478px;
}

.swiper-txt {
    position: absolute;
    padding: 25px;
}

.swiper-txt h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #222222;
}

.desktop {
    text-align: center;
}

.desktop img {
    width: 800px;
    margin-top: -240px;
}

@media(max-width: 991px) {
    .navbar {
        padding: 30px;
    }

    .left {
        display: none;
    }

    .swiper {
        padding: 0 70px;
    }

    .swiper-slide img {
        width: 100%;
    }

    .desktop {
        padding: 30px;
    }

    .desktop img {
        width: 100%;
    }
}

.card__title {
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1.6px black;
    line-height: 48px;
    text-align: center;
    margin: 0;
}

/*************************** Boton ***************************/

.button-container {
    position: absolute;
    bottom: 1px; 
    left: 95%;
    transform: translateX(-20%);
    transform: translateY(-130%);
}

.btn-primary {
    text-shadow: 0px 2px 10px black;
    padding: 12px 50px;
    margin-bottom: 40px;
    background-color: #ffad00;
    border-color: #ffad00;
    transform: skew(-20deg);
    transform: translate(0px, -500px);
}

.btn-primary a {
    color: inherit;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: rgb(206, 181, 43);
    border-color: rgb(206, 181, 43);
}

#volver{
    padding: 8px 35px;
    transform: skew(-20deg);
}
